/* Empty. Add your own CSS if you like */

.star>.item-content {
	background: #EEE8D6 !important;
}

.splash {
	background: url(../img/masjidHome.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.branding {
	width : 50%;
	max-width : 100px;
	margin: 0 auto;
	margin-top : 10px;
	text-align: center;

}
.tagline > h5 {
	color : darkgreen;
}